USE [A2D1B2C2_AutoGarageFormatief]
GO
/****** Object:  Table [dbo].[CarOwner]    Script Date: 13-4-2023 14:41:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarOwner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CarOwner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 13-4-2023 14:41:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
	[LicensePlate] [varchar](10) NOT NULL,
	[TowingWeight] [int] NULL,
	[CarOwnerId] [int] NOT NULL,
 CONSTRAINT [PK_Vehicle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CarOwner] ON 

INSERT [dbo].[CarOwner] ([Id], [Name]) VALUES (1, N'Rob')
INSERT [dbo].[CarOwner] ([Id], [Name]) VALUES (2, N'Miel')
INSERT [dbo].[CarOwner] ([Id], [Name]) VALUES (3, N'Bob')
SET IDENTITY_INSERT [dbo].[CarOwner] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([Id], [Description], [LicensePlate], [TowingWeight], [CarOwnerId]) VALUES (1, N'Opel Zafira', N'BE-001', NULL, 2)
INSERT [dbo].[Vehicle] ([Id], [Description], [LicensePlate], [TowingWeight], [CarOwnerId]) VALUES (2, N'Volkswagen Golf', N'NL-001', NULL, 3)
INSERT [dbo].[Vehicle] ([Id], [Description], [LicensePlate], [TowingWeight], [CarOwnerId]) VALUES (3, N'Vespa GTS', N'ML-003', NULL, 1)
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK_Vehicle_CarOwner] FOREIGN KEY([CarOwnerId])
REFERENCES [dbo].[CarOwner] ([Id])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK_Vehicle_CarOwner]
GO
